<div class="loginForm" style="background-color:white">
    <mat-card>
      <h1 style="text-align: center; justify-content: center;">Login</h1>  
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input 
                matInput 
                type="text" 
                placeholder=""
                ngModel
                name="username"
                required
                username>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input 
                matInput 
                type="password"
                placeholder=""
                ngModel
                name="password"
                required
                minlength="6"
                >
            </mat-form-field>
                <button mat-raised-button color="primary" style="width: 100%;" type="submit" [disabled]="!f.valid">Login</button>
        </form>
    </mat-card>

    <mat-card style="margin-top: 5%; text-align: center; justify-content: center;">
        <span>Don't have any account? <button mat-button type="button" routerLink="/signup">SingUp</button></span>
    </mat-card>

</div>