<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="" class="nav-caption" (click)="sidenav.close()" style="text-align: center; justify-content: center; color:white; text-decoration: none; font-size: 25px; font-weight: 1000;">Shop Kart</a>
      <br>
      <br>
      <p style="font-size: 22px; font-weight: 500; margin-left: 15px;">Search</p>
      <mat-divider></mat-divider>
      <div class="search" style="margin-left: 15px; margin-top: 15px;">
        <input style="border: radius 3px; height: 30px; font-size: 15px; padding: 0 10px 0 10px;"
          placeholder="What are you looking for?" type="text" name="query" value="inputText" [(ngModel)]="inputText">
        <button style="min-width: 50px; height: 34px;" mat-raised-button color="accent" (click)="onSearched()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <br>
      <p style="font-size: 22px; font-weight: 500; margin-left: 15px;">Category</p>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['summer']" class="nav-caption" (click)="sidenav.close()">Summer</a>
      <a mat-list-item [routerLink]="['winter']" class="nav-caption" (click)="sidenav.close()">Winter</a>
      <br>
            <p style="font-size: 22px; font-weight: 500; margin-left: 15px;">Your Cart</p>

      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['cart']" class="nav-caption" (click)="sidenav.close()">Cart</a>
      <br>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="{{loggedIn? '/logout': '/login'}}"  class="nav-caption" (click)="sidenav.close()">{{loggedIn? 'Logout': 'Login'}}</a>
      <a mat-list-item *ngIf="!loggedIn" [routerLink]="['signup']"  class="nav-caption" (click)="sidenav.close()">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="navbar" id="topNavbar" color="header" style="opacity: 0.7;">
      <a [routerLink]="''"
        style="color:white; margin-left: 20px; text-decoration: none; font-size: 25px; font-weight: 1000;"><span>ShopKart</span></a>
      <span class="example-spacer"></span>
        <input style="margin-left:20px; border: radius 3px; height: 30px; font-size: 15px; padding: 0 10px 0 10px;" placeholder= "What are you looking for?" type="text" name="query" value="inputText" [(ngModel)]="inputText">
        <button style="min-width: 50px; height: 34px;" mat-raised-button color="accent" (click)="onSearched()"><mat-icon>search</mat-icon></button>
      <a [routerLink]="['summer']" style="color:white; text-decoration: none; margin: 0 10px 0 10px;"><span>Summer</span></a>
      <a [routerLink]="['winter']" style="color:white; text-decoration: none; margin: 0 10px 0 10px;"><span>Winter</span></a>
      <!-- <button mat-stroked-button color="white" style="margin: 0 2px 0 20px;">
      <span style=" font-size: 18px;">Login</span>
      </button> -->
      <button mat-stroked-button routerLink="{{loggedIn? '/my-account': '/signup'}}" color="white" style="margin: 0 2px 0 20px;">
        <span style=" font-size: 18px;">{{loggedIn? 'My Account': 'SignUp'}}</span>
      </button>
      <button mat-raised-button [routerLink]="'cart'" color="green" style="margin: 0 20px 0 5px;">
        <mat-icon>shopping_cart</mat-icon><span style="padding-left:10px; font-size: 18px;">Cart</span>
      </button>

      <div class="menu">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer id="main-footer">
      <mat-toolbar color="snow" style="text-align: center; justify-content: center;">
        <p class="lead text-center">Copyright &copy; 2018 Shop Kart</p>
      </mat-toolbar>

    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>
